# Godot Engine-specific
.import/
.export/
.export_presets.cfg
.godot/

# Cache and temporary files
*.tmp
*.log
*.import
*.bak
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Visual Studio / VSCode
.vscode/
*.code-workspace

# Build outputs
bin/
build/
*.exe
*.dll
*.so
*.dylib
*.pdb

# Mono / C# projects
*.csproj
*.sln
*.userprefs
*.user
*.mono
*.mdb

# Editor backup files
*.save
*.backup
